* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(79, 162, 222),rgb(76, 72, 203));
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #e8e6e6;
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    font-family: 'Comic Neue',cursive;
    height: 10vh;
    font-size: 50px;
}

.container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
}

.flip-card {
    width: 150px;
    height: 170px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.flip-card .card {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(218, 218, 96),rgb(211, 165, 79));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    position: absolute;
    backface-visibility: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.6s ease;
    text-align: center;
}

.flip-card .front {
    font-size: 100px;
    font-weight: bold;
}

.flip-card .back {
    transform: rotateY(180deg);
    font-size: 16px;
    overflow-wrap: break-word;
}

.flip-card.flipped .front {
    transform: rotateY(180deg);
}

.flip-card.flipped .back {
    transform: rotateY(0deg);
}

.secretCode {
    margin: 20px;
    margin-left: 0px;
    font-size: xx-large;
    margin-bottom: 10px;
    font-family:'Comic Neue',cursive;
    color: rgb(240, 217, 100);
}

#ans {
    margin-left: 10px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
}

.secretCode button {
    width: 100px;
    height: 35px;
    margin-left: 20px;
    font-size: large;
    font-family:'Comic Neue',cursive;
    background-color: rgb(252, 228, 105);
    cursor: pointer;
    color: rgb(49, 31, 8);
}

.secretCode button:hover {
    background-color: #df8751;
}
