* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("login-background.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 1300px 700px;
    height: 100vh;
}

.box {
    border: 3px solid white;
    height: 300px;
    width: 330px;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    font-size: 43px;
    color: rgb(240, 189, 78);
    text-align: center;
}

form #user,#word {
    font-size: 22px;
    color: white;
    padding: 5px;
    margin: 5px;
}

form input {
    height: 25px;
    width:95%;
    border-radius: 5px;
    padding: 5px;
}

form button {
    height: 5.5vh;
    width: 60%;
    margin-left: 66px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f0de76;
    border-radius: 13px;
    color: #5d4037;
}

form button:hover {
    background-color: #df8751;
}
